.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.navbar .logo{
    width: max(5%,80px);
}
.navbar .profile{
    width: 100px;
    border-radius: 40%;
    margin-right: 20px;
}